.navbar-spacer {
  flex: 1 1 auto;
}

.app-navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  height: 88px;
}

.app-navbar-search-field-wrapper {
  width: 20em;
}

.app-navbar-search-mat-form-field {
  width: 100%;
}
