<mat-toolbar class="app-navbar">
  <mat-icon>menu</mat-icon>
  <span class="navbar-spacer"></span>
  <div>
    <mat-form-field>
      <input #googleSearch matInput placeholder="Google" (keyup.enter)="searchGoogle(googleSearch.value)">
    </mat-form-field>
    <mat-icon>search</mat-icon>
  </div>
  <span class="navbar-spacer"></span>
  <div>
    <mat-form-field>
      <input #youtubeSearch matInput placeholder="YouTube" (keyup.enter)="searchYoutube(youtubeSearch.value)">
    </mat-form-field>
    <mat-icon>movie</mat-icon>
  </div>
  <span class="navbar-spacer"></span>
  <mat-icon>settings</mat-icon>
</mat-toolbar>
